<footer class="site-footer">

  <div class="footer-inner">

    <nav class="footer-nav footer-nav-desktop">

      <a href="{{ '/' | relative_url }}">
        HOME
      </a>

      <span>｜</span>

      <a href="{{ '/records/' | relative_url }}">
        山行記録
      </a>

      <span>｜</span>

      <a href="{{ '/logs/' | relative_url }}">
        山行検索
      </a>

      <span>｜</span>

      <a href="{{ '/about/' | relative_url }}">
        自己紹介
      </a>

      <span>｜</span>

      <a href="{{ '/blog/' | relative_url }}">
        ブログ
      </a>

      <span>｜</span>

      <a href="{{ '/others/' | relative_url }}">
        その他
      </a>

    </nav>

    <nav class="footer-nav footer-nav-mobile">

      <a href="{{ '/' | relative_url }}">
        HOME
      </a>

      <span>｜</span>

      <a href="{{ '/records/' | relative_url }}">
        山行記録
      </a>

      <span>｜</span>

      <a href="{{ '/logs/' | relative_url }}">
        山行検索
      </a>

    </nav>

    <div class="footer-top">

      <a href="#top">

        ↑ TOP

      </a>

    </div>

    <p class="footer-copyright">

      © 2026 hiro-san 山歩き

    </p>

  </div>

</footer>